#main-menu
  .icon-box
    .i.fa.fa-file-text.fa-3x
    %p Путевой Л
  .icon-box
    .i.fa.fa-calendar.fa-3x
    %p План график
  .icon-box
    .i.fa.fa-book.fa-3x
    %p Справочник
  .icon-box
    .i.fa.fa-th-large.fa-3x
    %p Cлои
  .icon-box
    .i.fa.fa-volume-up.fa-3x
    %p Уыедомления
  .icon-box
    .i.fa.fa-cog.fa-3x
    %p Настройки 
