#main-menu
  .icon-box
    .i.fa.fa-file-text.fa-3x
    %p Путевой Л _________
  .icon-box
    .i.fa.fa-calendar.fa-3x
    %p План график __________
  .icon-box
    .i.fa.fa-book.fa-3x
    %p Справочник __________
  .icon-box
    .i.fa.fa-th-large.fa-3x
    %p Cлои __________
  .icon-box
    .i.fa.fa-volume-up.fa-3x
    %p Уыедомления ___________
  .icon-box
    .i.fa.fa-cog.fa-3x
    %p Настройки _________
